.new-tweet {
  background: #ddd;
  border-radius: 5px;
  border: solid 1px;
  margin: 2em;
  padding: 0.2em 2em;
}

.new-tweet h2 {
  border-bottom: solid 1px;
}

.new-tweet form {
}

.new-tweet textarea {
  width: 100%;
  display: block;
  padding: 0.5em;
}

.new-tweet input {
  margin: 0.2rem 0;
  width: 75px;
}

.new-tweet .counter {
  margin: 0.2rem 0;
  float: right;
}


/*
<section class="new-tweet">
<h2>Compose Tweet</h2>
<form action="/tweets/" method="post">
<textarea name="text" placeholder="What are you humming about?"></textarea>
<input type="submit" value="Tweet">
<span class="counter">140</span>
</form>
</section>
*/